@font-face {
font-family: bebas;
src: url('../font/BebasNeue.otf');
}

@font-face {
font-family: montserrat;
src: url('../font/Montserrat-Light.otf');
}

@font-face {
font-family: montserrat;
src: url('../font/Montserrat-Light.otf');
}
