
@font-face {
	font-family: bebas;
	src: url('../font/BebasNeue.otf');
}

@font-face {
	font-family: montserrat;
	src: url('../font/Montserrat-Light.otf');
}

div{
	/*border-style: solid;*/
}

body{
	background-color: #2D3238 !important; 
}

.outter{
	position: absolute;
	width: 100%;
	left: 0;
	height: auto;
}

.outter2{
	position: relative;
	padding: 40px;
	margin-top: 80px;
}

.head{
	width: 100%;
	position: fixed;
	height: 120px;
	background-color: #2D3238;
	z-index: 100;
}

.logo{
	height: 100%;
	position: relative;
	float: left;
	font-size: 40px;
	font-family: bebas;			
	color: #EFEFEF;
	padding: 40px;
	padding-right: 0;
}

.notif{
	float: right;
	height: 100%;
	position: relative;
	padding: 55px 40px;
	font-family: montserrat;
	color: white;
	font-size: 18px;
	padding-left: 0;
	/*border-style: solid;*/
}

.notif button{
	border-style: none;
	background-color: #2D3238;
	outline: 0;
}

.notif button i{
	font-size: 20px; 
	margin-left: 20px;
}

#profil-menu{
	display: none;
	position: absolute;
	width: 200px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
	top: 90px;
	right: 40px;
}

#profil-menu a{
	font-family: montserrat;
	padding: 10px;
	width: 100%;
	text-decoration: none;
	color: #02ADBA;
}

.mobile{
	display: none;
}

#profil-menu a:hover{
	color: white;
	width: 100%;
	background-color: #02ADBA;
}

.profil-menu{
	width: 100%;
	float: left;
}

.nav{
	height: 140px;
}

.content{
	width: 100%;
	height: auto;
	position: relative;
	background-color: white;
	padding: 50px 40px !important;
	float: left;
}
.footer{
	float: left;
	width: 100%;
	height: 50px;
	color: white;
	font-size: 10px;
	text-align: center;
	padding-top: 20px;
}

.inputs{
	background-color:#dde3ec;
}

.judul{
	font-family: bebas;
	font-size: 35px;
}

.isi{
	width: 100%;
	font-family: montserrat;
}

.menu{
	width: 100%;
	height: 80px;
	float: left;
	background-color: #2D3238;
}

.sub-menu{
	width: 100%;
	height: 60px;
	float: left;
	background-color: #EFEFEF;
}

.menu button{
	background-color: #474E54;
	width: 200px;
	text-align: center;
	margin-top: 12px;
	padding: 20px 0px;
	color: #5B646B;
	font-family: bebas;
	font-size: 25px;
	border-style: none;
}

.menu button:focus{
	outline: 0;
	background-color: #EFEFEF;
}

.menu button:hover{
	background-color: #02ADBA;
	color: white;
}

.menu .active{
	background-color: #EFEFEF;
}

.menu .active:hover{
	background-color: #EFEFEF;
	color: #5B646B;
}

a{
	text-decoration: none;
	float: left;
	padding-right: 5px;
}

.sub-menu div a{
	margin: 20px 30px;
	text-decoration: none;
	color: #5B646B;
	font-family: montserrat;
}

.sub-menu div a:hover{
	color: #02ADBA;
}

.sub-menu div a:first-child{
	margin-left: 78px;
}

#sub-menu-order, #sub-menu-setting{
	display: none;
}

.active{
	background-color: #EFEFEF !important;
}

#nav-mobile{
	display: none;
}

.nav2{
	width: 100%;
	height: auto;
	position: relative;
	float: left;
	display: none;
}

.fa{
	margin-right: 10px;
}

@media screen and (max-width: 675px) {
	.desktop{
		display: none;
	}

	.mobile{
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.nav{
		display: none;
	}

	#nav-mobile{
		display: block;
		float: left;
	}

	#profil{
		float: left;
	}

	.nav2 .menu button{
		width: 100%;
		margin: 0;
	}

	.nav2 .menu{
		height: auto;
		width: 100%;
		position: relative;
	}

	.sub-menu-history-cus2 a{
		width: 100%;
		text-align: center;
		padding: 15px 0px;
		background-color: #EFEFEF;
		font-family: montserrat;
		color: #5B646B;
		text-decoration: none;
	}

	.sub-menu-history-cu2 a:hover{
		background-color: #474E54;
		text-decoration: none;
	}

	.head{
		position: absolute;
	}

	.outter2{
		padding: 40px 0px;
	}

	.logo{
		padding: 40px 20px;
	}

	.notif{
		padding: 55px 10px;
	}
}

@media screen and (min-width: 769px) {
	.nav2{
		display: none !important;
	}
}